<html>
    <head>
        <title>
            <h1>
                Sourav chongrey
                </h1>
                </title>
                <style>
                    .main{
                        width: 1000px,
                    }
                </style>
                </head>
                <body>
                    <h1>
                        <p>
                            <h1 style={{b}}>
                                this is my body
                                </h1>
                                    </p>
                                    </h1>
                                    </body>
                                    </html>